# Exported from Render on 2026-01-05T12:28:24Z
version: '1'
projects:
  - name: GFED Medusa Backend and DB
    environments:
      - name: Production
        services:
          - type: web
            name: gfed-medusa-backend
            runtime: docker
            repo: https://github.com/goodfrontend/gfed-medusa-backend
            plan: free
            envVars:
              - key: VITE_MEDUSA_BACKEND_URL
                sync: false
              - key: STORE_CORS
                sync: false
              - key: SHOPIFY_BASE_URL
                sync: false
              - key: POSTGRES_URL
                fromDatabase:
                  name: gfed-medusa-database
                  property: connectionString
              - key: PORT
                sync: false
              - key: MEDUSA_WORKER_MODE
                sync: false
              - key: MEDUSA_BACKEND_URL
                sync: false
              - key: ALGOLIA_PRODUCT_INDEX_NAME
                sync: false
              - key: COOKIE_SECRET
                sync: false
              - key: AUTH_CORS
                sync: false
              - key: ALGOLIA_APP_ID
                sync: false
              - key: ADMIN_CORS
                sync: false
              - key: JWT_SECRET
                sync: false
              - key: DISABLE_MEDUSA_ADMIN
                sync: false
              - key: DB_NAME
                sync: false
              - key: DATABASE_URL
                fromDatabase:
                  name: gfed-medusa-database
                  property: connectionString
              - key: ALGOLIA_API_KEY
                sync: false
            region: singapore
            dockerContext: .
            dockerfilePath: apps/medusa/Dockerfile
            autoDeployTrigger: 'off'
        databases:
          - name: gfed-medusa-database
            databaseName: gfed_medusa_database
            user: gfed_medusa_database_user
            plan: free
            region: singapore
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
            postgresMajorVersion: '18'
