# NOTE: The env groups should be first created in the Render dashboard
# Since they do not allow `sync: false` in env groups, this is seems to be the only way

projects:
  - name: GFED Medusa Backend and DB
    environments:
      - name: production
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-backend-prod
            region: singapore
            autoDeployTrigger: off
            image:
              url: traefik/whoami:v1.11
            envVars:
              - fromGroup: backend-env-group-prod
              - key: DATABASE_URL
                fromDatabase:
                  name: gfed-medusa-database
                  property: connectionString
        databases:
          - name: gfed-medusa-database
            databaseName: gfed_medusa_database
            user: gfed_medusa_database_user
            plan: free
            region: singapore
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
            postgresMajorVersion: '18'
