projects:
  - name: GFED Medusa Backend and DB
    environments:
      - name: production
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-backend-prod
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/elloani-gfed/gfed-medusa-backend-copy/medusa:3a26ede91980bed6aec36be89979313ad1583dea
            envVars:
              - fromGroup: backend-env-group-prod
        databases:
          - name: gfed-medusa-database
            databaseName: gfed_medusa_database_wgqd
            user: gfed_medusa_database_wgqd_user
            plan: free
            region: singapore
            postgresMajorVersion: "18"
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
      - name: qa
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-backend-qa
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/elloani-gfed/gfed-medusa-backend-copy/medusa:3a26ede91980bed6aec36be89979313ad1583dea
            envVars:
              - fromGroup: backend-env-group-qa
