name: Build docker
on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
    secrets:
      database_url:
        required: true
      database_ssl:
        required: false
    outputs:
      image_tag:
        value: ghcr.io/${{ github.repository }}/${{ inputs.app }}:${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.database_url }}
      DATABASE_SSL: ${{ secrets.database_ssl || 'false' }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ inputs.app }}:${{ github.sha }}
          build-args: |
            DATABASE_URL=${{ env.DATABASE_URL }}
            DATABASE_SSL=${{ env.DATABASE_SSL }}
          network: host
          cache-from: type=gha
          cache-to: type=gha,mode=max
